<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HiTech</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../styles/styles2.css" />
  </head>
  <body>
    <header>
      <a href="" class="logo">hi</a>
      <div id="input-navbar">
        <ion-icon name="search-outline" class="icon-search-nav"></ion-icon>
        <!-- <img class="icon-search-nav" src="../assets/icons/search.svg" alt="" height="20" /> -->
        <input class="input-field" type="text" placeholder="Search" />
      </div>
      <ul class="no_filled" id="no_filled">
        <li><a href="#">home</a></li>
        <li><a href="#">best seller</a></li>
        <li><a href="#">discount</a></li>
      </ul>
      <ul class="filled">
        <li>
          <img height="24" src="../assets/icons/favorite.svg" alt="favorite" />
        </li>
        <li>
          <img class="mx-4" height="26" src="../assets/icons/cart.svg" alt="cart" />
        </li>
        <li>
          <img height="32" src="../assets/icons/person.svg" alt="person" />
        </li>
      </ul>
    </header>

    <section class="banner"></section>
    <script src="../scripts/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
